{% extends 'base.html' %}
{% load static %}
{% block title %}
Employe
{% endblock title %}

{% block content %}
{% include 'components/message.html' %}

<div class="container-fluid">
    <div class="col-md-10 shadow bg-white rounded">
        <br>
        <a href="{% url 'user_setting' %}"><button type="button" id="back-employe" class="btn btn-primary" id="load"
                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">User List</button></a>
        <button type="button" id="password_change_btn" class="btn btn-primary"
            data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Change Password</button>
        <br>
        <div class="content-panel ">
            <h3 class="text-center">Edit User</h3>
            <hr>
            <div class="panel-body">
                <div class="text-center">

                    {% if User.picture %}
                    <img height="100px" width="100px" src="/{{User.picture}}" class="img-circle elevation-2" alt="">
                    {% else %}

                    <img height="100px" width="100px" src="{% static 'image/avatar3.png' %}"
                        class="img-circle elevation-2" alt="">
                    {% endif %}
                </div>
                <hr>
                <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'update_user' pk=User.id %}"
                    method="post" autocomplete="off">
                    <div class="form-group">
                        <div class="row m-3">
                            {% csrf_token %}
                            <div class="col-6">
                                <label><strong>Email :</strong></label>
                                <input type="email" class="form-control user_email" name="email"
                                    placeholder="User Email" value="{{ User.email }}"><br>

                                <br>
                                <label for="picture_p">Picture :</label>
                                <input type="file" class="form-control-file" name="picture" id="picture_p">
                            </div>
                            <div class="col-6">
                                <label><strong>Name :</strong></label>
                                <input id='username' value="{{ User.name }}" type="text" class="form-control name"
                                    name="username" placeholder="Name (Optional)"><br>
                                <label><strong>Phone :</strong></label>
                                <input id='phone' type="number" value="{{User.phone}}" class="form-control phone"
                                    name="phone" placeholder="Phone (Optional)"><br>
                                <button type="submit" class="btn btn-primary product-sub-btn"
                                    style="float: right">Update User</button>

                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
            </div>
            </form>

        </div>
    </div>
</div>
</div>
<br>



{% endblock content %}

{% block scripts %}
<script>
    $('#password_change_btn').click(function () {
        $('.panel-body form').remove()
        $('.panel-body').append('<div class="row-12 m-3 "><div class="col-12"><label><strong>Old Password</strong></label><input id="oldpassword" type="password" class="form-control password" name="oldpassword" placeholder="password" required></div><br><div class="row"><div class="col-6"><label><strong>New Password</strong></label><input id="newpassword" type="password" class="form-control password" name="newpassword" placeholder="New Passoword " required></div><div class="col-6"><label><strong>Password Confirm</strong></label><input id="password2" type="password"class="form-control password" name="password2" placeholder="Password Confirm " required></div></div><br><button id="passwordsubmit"  class="btn btn-primary mr-2 " style="float: right">Change Password</button><br><br></div>')

    })
</script>

<script>
    $(document).ready(function(){

    $('#passwordsubmit').click(function(){
        console.log('Workung')
        if (!(document.getElementById('newpassword').checkValidity())) {
            $("#password1").addClass('is-invalid')
            $("#password1").focus()
            return false
        }
        if (!(document.getElementById('password2').checkValidity())) {
            $("#password2").addClass('is-invalid')
            $("#password2").focus()
            return false
        }



    })
    })

</script>
{% endblock scripts %}